.ContainerBestSelling {
  margin: 80px;
}
.containerFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerFirst .containerButton {
  margin: 0;
  align-self: flex-end;
}
.containerBest {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: 50px 0px;
}
.feedback div {
  color: orange;
}
@media (max-width: 1185px) {
  .containerBest {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 1000px) {
  .containerBest {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .containerBest {
    grid-template-columns: repeat(1, 1fr);
  }
  .containerFirst {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
  .containerFirst .containerButton {
    align-self: center;
  }
}
