.containerSideBar ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.containerSideBar ul .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  position: relative;
}
.containerSideBar {
  border-right: 1px solid silver;
  padding-top: 30px;
  position: relative;
}
.sidebarClose {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
.sidebarMenu {
  position: absolute;
  font-size: 30px;
  right: -110px;
  top: 0;
  display: none;
  cursor: pointer;
}

.sidebarhide li:hover {
  color: blueviolet;
  cursor: pointer;
}
/* style woman more */
.womanfashion {
  position: absolute;
  right: -151px;
  top: 0;
  background-color: white;
  color: white;
  z-index: 30;
  width: 150px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: none;
}
.womanfashion a,
.menFashion a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.womanfashion a:hover,
.menFashion a:hover {
  color: blueviolet;
}
.more:hover .womanfashion {
  display: initial;
}
/* style men fashion */
.menFashion {
  position: absolute;
  right: -151px;
  top: -20px;
  background-color: white;
  color: white;
  z-index: 30;
  width: 150px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: none;
}
.more:hover .menFashion {
  display: initial;
}

@media (max-width: 800px) {
  .sidebarhide {
    display: none;
  }
  .sidebarMenu {
    display: block;
  }

  .containerSideBar {
    position: fixed;
    z-index: 50;
    left: -140px;
  }
  .containerSideBar.open {
    position: fixed;
    z-index: 50;
    left: 0px;
    background-color: white;
    width: 250px;
    padding-left: 20px;
  }
  .sidebarMenu.MenuHide {
    display: none;
  }
  .sidebarClose {
    display: block;
  }
}
@media (max-width: 550px) {
  .sidebarMenu {
    right: -50px;
  }
}
