.containerContact {
  margin: 80px;
}
.containerContact span {
  color: silver;
}
.containerContact .boxContact {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
/* style boc allContac */
.containerContact .boxContact .allContact {
  box-shadow: 0px 0px 5px 2px rgb(221, 220, 220);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}
.boxContact .allContact .textRow {
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}
.boxContact .allContact .textRow2 {
  border: none;
  padding-bottom: 0;
  padding-top: 20px;
}
.allContact .textRow .boxIcon {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.boxContact .fiIcon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  border-radius: 100%;
}
.containerContact .boxContact .containerForm {
  grid-column: span 2;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(221, 220, 220);
  background-color: white;
  padding: 50px;
}
.boxContact .containerForm .inputFirst {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.boxContact .containerForm .inputFirst input {
  height: 40px;
  border: none;
  font-size: 18px;
  background-color: whitesmoke;
  width: 200px;
  border-radius: 5px;
  text-indent: 10px;
  outline: none;
}
.boxContact .containerForm textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
  border: none;
  background-color: whitesmoke;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 30px;
  resize: none;
}
.boxContact .btnSendMessage {
  display: flex;
  justify-content: flex-end;
}
.boxContact .btnSendMessage button {
  border: none;
  padding: 12px 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
@media (max-width: 1250px) {
  .boxContact .containerForm .inputFirst input {
    width: 100%;
  }
  .boxContact .containerForm .inputFirst {
    column-gap: 15px;
  }
}
@media (max-width: 1050px) {
  .boxContact .containerForm .inputFirst {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 800px) {
  .containerContact .boxContact {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 550px) {
  .containerContact {
    margin: 80px 20px;
  }
  .containerContact .boxContact .containerForm {
    padding: 50px 20px;
  }
}
@media (max-width: 400px) {
  .containerContact .boxContact .allContact {
    padding: 50px 20px;
  }
}
