.sectionFirst {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 80px 50px;
}
.containerSlider {
  grid-column: span 3;
}
@media (max-width: 800px) {
  .containerSlider {
    grid-column: span 4;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .sectionFirst {
    margin: 10px;
  }
}
